@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

h2, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #edf0f1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(46, 47, 67, .4);
    box-shadow:  0 0 10px #272839;
    margin-bottom: 40px;
}

.logoffBtn {
    font-size: 2em;
    color: rgb(189, 33, 33);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 10px;
    transition: border .5s;
}

.logoffBtn:hover {
    border-left: 2px solid rgb(189, 33, 33);
    border-right: 2px solid rgb(189, 33, 33);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form input{
    margin-bottom: 10px; 
    background-color: rgba(90, 91, 105, .7);
    color: #bbbcc5;
    font-size: medium;
    border: none;
    outline: none;
    height: 50px;
    width: 400px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    border-right: 1px solid rgba(90, 91, 105, 1);
    transition: background .5s;
}

.container form input:hover, 
.container form button:hover, 
.container form input:focus, 
.container form button:active {
    background-color: rgba(90, 91, 105, .9);
}

.container form button {
    width: 50px;
    height: 50px;
    background-color: rgba(90, 91, 105, .7);
    border-top-right-radius: 20px;
    text-align: center;
    transition: background .5s;
}

.container article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: rgba(46, 47, 67, .5);
    border-radius: 20px;
    box-shadow:  0 0 5px #272839;
    padding: 24px;
    margin: 5px 0;
    color: #bbbcc5;
}

.container article p {
    max-width: 70%;
    word-break: break-all;
}

.container article button {
    font-size: 1.3em;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.editBtn {
    color: rgb(136, 143, 34);
}

.concludeBtn {
    color: rgb(43, 190, 43);
}

@media only screen and (max-width: 600px) {
    .logo {
      display: none;
    }

    .container form input {
        width: 80%;
    }
  }