.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background-color: rgba(46, 47, 67, .5);
    border-radius: 20px;
    box-shadow:  0 0 10px #272839;
    padding: 24px;
    margin: 20px 0;
}

.container form input {
    margin-bottom: 10px; 
    background-color: rgba(90, 91, 105, .7);
    color: #bbbcc5;
    font-size: medium;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    transition: all .5s;
}

.container form input::placeholder {
    color: #bbbcc5;
}

.container form input:hover {
    background-color: rgba(90, 91, 105, .9);
}

.container form input:focus {
    background-color: rgba(90, 91, 105, .9);
}

.container form button {
    background-color: #fcfcfc;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    align-self: center;
    margin: 20px 0 10px 0;
}

.registerLink {
    color: rgba(90, 91, 105, .7);
    margin-top: 5px;
    text-decoration: none;
}

.registerLink strong {
    color: #5681a0;
}

.fPassLink {
    color: rgba(90, 91, 105, .7);
    font-size: .9em;
    margin-top: 5px;
}